doctype html
html(lang="en")
    head
        title Product Details
    body
        center
            h1 Product Details
            form(action="", method="post")
                input(type="hidden", name="id" value=product._id)
                input(type="hidden", name="action", value="commitchange")
                label Name:&nbsp
                input(name="name", placeholder=product.name, value=product.name)
                br
                br
                label Unit of Measurement:&nbsp
                select(name="unit", value=product.unit)
                    case product.unit
                        when "gram"
                            option(value="gram" selected) Gram
                            option(value="container") Container
                            option(value="unit") Unit
                            option(value="liter") Liter
                        when "container"
                            option(value="gram") Gram
                            option(value="container" selected) Container
                            option(value="unit") Unit
                            option(value="liter") Liter
                        when "unit"
                            option(value="gram") Gram
                            option(value="container") Container
                            option(value="unit" selected) Unit
                            option(value="liter") Liter
                        when "liter"
                            option(value="gram") Gram
                            option(value="container") Container
                            option(value="unit") Unit
                            option(value="liter" selected) Liter
                br
                br
                label Kind:&nbsp
                select(name="kind", value=product.kind)
                  case product.kind
                    when "fresh"
                      option(value="fresh" selected) Fresh
                      option(value="meat") Meat
                      option(value="dairy") Dairy
                      option(value="frozen") Frozen
                      option(value="carbohydrate") Carbohydrate
                      option(value="basic") Basic
                      option(value="other") Other
                    when "meat"
                      option(value="fresh") Fresh
                      option(value="meat" selected) Meat
                      option(value="dairy") Dairy
                      option(value="frozen") Frozen
                      option(value="carbohydrate") Carbohydrate
                      option(value="basic") Basic
                      option(value="other") Other
                    when "dairy"
                      option(value="fresh") Fresh
                      option(value="meat") Meat
                      option(value="dairy" selected) Dairy
                      option(value="frozen") Frozen
                      option(value="carbohydrate") Carbohydrate
                      option(value="basic") Basic
                      option(value="other") Other
                    when "frozen"
                      option(value="fresh") Fresh
                      option(value="meat") Meat
                      option(value="dairy") Dairy
                      option(value="frozen" selected) Frozen
                      option(value="carbohydrate") Carbohydrate
                      option(value="basic") Basic
                      option(value="other") Other
                    when "carbohydrate"
                      option(value="fresh") Fresh
                      option(value="meat") Meat
                      option(value="dairy") Dairy
                      option(value="frozen") Frozen
                      option(value="carbohydrate" selected) Carbohydrate
                      option(value="basic") Basic
                      option(value="other") Other
                    when "basic"
                      option(value="fresh") Fresh
                      option(value="meat") Meat
                      option(value="dairy") Dairy
                      option(value="frozen") Frozen
                      option(value="carbohydrate") Carbohydrate
                      option(value="basic" selected) Basic
                      option(value="other") Other
                    when "other"
                      option(value="fresh") Fresh
                      option(value="meat") Meat
                      option(value="dairy") Dairy
                      option(value="frozen") Frozen
                      option(value="carbohydrate") Carbohydrate
                      option(value="basic") Basic
                      option(value="other" selected) Other
                br
                br
                label Cost:&nbsp
                input(name="cost", placeholder.product.cost, value=product.cost)
                br
                br
                input(type="submit", value="Change")
            br
            form(action="/editrawproduct", method="get")
                input(type="submit", value="Back")
